 <div class="page animated fadeIn" >
        <div class="page-content padding-0">
              <ul class="blocks no-space col-xs-12">
                <li class="widget col-xs-8">
                  <a href="#" onclick="mostrarVistas();" style="text-decoration:none;">
                      <div class="cover" style="padding-bottom:0px; margin-bottom:0px;">
                        <img class="cover-image" src="img/2.jpg" alt="...">
                        <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                            <div class="vertical-align-middle">
                              <div class="widget-time">
                                <span style="font-size:1.5em;font-weight:bold; color:white;">Trabajo</span>
                                <span style="float:right; margin:10px;" class="badge badge-info up">15</span>
                              </div>
                            </div>
                          </div>
                      </div>
                  </a>
                </li>
                <li class="widget col-xs-4">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/3.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Vivienda</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-4">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/4.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Familia</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">3</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            
            <li class="widget col-xs-12">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/5.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Sanidad</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">28</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-6">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/7.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Politica</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">12</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-6">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/6.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Obras p&uacute;blicas</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">12</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-8">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/8.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Sueldos</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">18</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-4">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/1.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Econom&iacute;a</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">5</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-4">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/2.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Seguridad</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">7</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-6">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/3.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.5em;font-weight:bold; color:white;">Inflaci&oacute;n</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">16</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/4.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Pobreza</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">2</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/6.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Asistencia</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">2</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/7.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Petroleo</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">1</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/8.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Alimentos</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">1</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/7.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Desempleo</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">1</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/6.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Hospitales</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">1</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/4.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Jubilaciones</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">1</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
            <li class="widget col-xs-3">
                <a href="#" onclick="mostrarVistas();">
                    <div class="cover overlay">
                      <img class="cover-image" src="img/3.jpg" alt="...">
                      <div style="background-color:transparent;" class="overlay-panel overlay-background-fixed text-center vertical-align">
                        <div class="vertical-align-middle">
                          <div class="widget-time">
                            <span class="titulo_categoria" style="font-size:1.1em;font-weight:bold; color:white;">Familia</span>
                            <span style="float:right; margin:10px;" class="badge badge-info up">1</span>
                          </div>
                        </div>
                      </div>
                    </div>
                </a>
            </li>
           

              </ul>
        </div>
    </div>