<ion-view view-title="Formulario Categorias" >
	<ion-content>
		<form>	
		<div class="list">
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Titulo Categoría</span>
				    <input type="text" placeholder="Economía" ng-model="formData.name" >
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Descripción</span>
				    <textarea placeholder="Insertamos la categoría Economia para separa ...." ng-model="formData.description" ></textarea>
				  </label>
				  <label class="item item-input">
					  <button class="button button-full button-calm" ng-click="saveTaxonomy()">
	  					Guardar
					</button>
				</label>
		</div>
		</form>
	</ion-content>
</ion-view>